bakong-khqr>=0.4.12
pillow>=11.3.0
python-telegram-bot>=22.3
qrcode>=8.2
requests>=2.32.4
urllib3>=2.5.0
bakong-khqr
pillow
python-telegram-bot
qrcode
requests
urllib3
bakong-khqr
pillow
python-telegram-bot
qrcode
requests
urllib3
aiohttp
pyrogram
tgcrypto
